{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <h2>Get a Stock quote</h2>
    <form action="{{ url_for('quote') }}" method="post">
        <input class="form-control" name="symbol" placeholder="Symbol" type="text">
        <button class="btn btn-secondary" type="submit">Get Quote</button>
    </form>
    {% if quote %}
        <h3>{{ quote['name'] }} ({{ quote['symbol'] }})</h3>
        <p>Price: {{ quote['price']|usd }}</p>
    {% endif %}
    <style>
        form{
            display: flex;
            justify-content: center;
            align-items: center;
            margin:5px
        }
        .btn{
            margin-left: 10px
        }
        .form-control{
            width: 10%;
        }
    </style>

{% endblock %}
